@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';

:root {
  --mantine-color-brand-filled: #6366f1;
  --mantine-color-brand-filled-hover: #4f46e5;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--mantine-color-body);
}
